#video-source-id{
    position: absolute;
    top:-100px;
    width: 100%;
    height: 200px;
    background: aquamarine;
}
#video-source-id .video{
    position: absolute;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    height: auto;
    width: auto;
}
